.search {
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #000000;
  border: 1px solid #888888;
  margin: 4px;
}
.search:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.inputRoot {
  color: inherit;
  height: 100%;
}

.inputInput {
  padding: 4px !important;
  padding-right: calc(1em + 12px) !important;
}

.icon {
  padding: 0 2px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  color: #000000;
}
